<header>
    <main>
        <div class="halfDiv">
            <a id="logoStyle" href="{{ site.baseurl }}/">ScrumWithMe<span>.com</span></a>
        </div>
        <div class="halfDiv">
            <nav>
                <ul class="navStyle">
                  {% for item in site.navigation %}
                      {% assign class = nil %}
                      {% if page.url == item.url %}
                          {% assign class = 'active' %}
                      {% endif %}
                      <li>
                        <a href="{{ item.url }}" class="{{ class }}">
                          {{ item.title }}
                        </a>
                      </li>
                  {% endfor %}
                      <li>
                          <a target="blank" href="https://twitter.com/ScrumWithMe">
                            Twitter
                          </a>
                      </li>
                </ul>
            </nav>

            
        </div>
        <div class="clearfix"></div>
    </main>
</header>

 