---
layout: default
permalink: /articles
---
<main class="mainStyle about articles">
    <article>
        {% if site.articles.header-text.size > 0 %}
        <section class="page-header">
          <h1 class="subHeader">
            {{ site.articles.header-text }}
          </h1>
        </section>
        {% endif %}
    </article>
    <section class="puzzleContainer">
        {% for post in site.posts %}
            <div class="puzzleGrid">
         {%
            include article-summary.html
            url=post.url
            title=post.title
            date=post.date
            icon=post.icon
            author=post.author
            excerpt=post.excerpt
        %}

            <img class="puzzleIcon blackright" src="../assets/img/puzzle/blackright.png" />        
            <img class="puzzleIcon blackdown" src="../assets/img/puzzle/blackdown.png" />        
            <img class="puzzleIcon whitedown" src="../assets/img/puzzle/whitedown.png" /> 
            <img class="puzzleIcon whiteup" src="../assets/img/puzzle/whiteup.png" />        
            <img class="puzzleIcon whiteleft" src="../assets/img/puzzle/whiteleft.png" /> 
            <img class="puzzleIcon whiteright" src="../assets/img/puzzle/whiteright.png" /> 
         </div>
        {% endfor %}
    </section>
    <div style="clear: both;"></div>
</main>
