---
layout: default
permalink: /articles

---
<main class="mainStyle about post">
<article>
  {% if page.title.size > 0 and page.author.size > 0 %}
    <section class="page-header2">
      {% if page.icon.size > 0 %}
        {%
          include icon.html
          icon=page.icon
          alt=page.title
        %}
      {% endif %}

      <h1 class="subHeader">
        {{ page.title }}
      </h1>

      {%
        include written-on.html
        date=page.date
        author=page.author
      %}
    </section>
  {% endif %}

  {{ content }}
  
</article>
<div class="clearfix"></div>
</main>
{% include related-posts.html %}
